<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <listener>
        <listener-class>com.ctcarrier.boot.Initializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>MongoDBServlet</servlet-name>
        <servlet-class>com.ctcarrier.MongoDBServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MongoDBServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
